.select {
  background-color: var(--color-light-gray);
  background-image: url("/chevron-down-solid.svg");
  background-position: right 1rem center;
  background-repeat: no-repeat;
  background-size: 1em 1em;
  appearance: none;
}

.section {
  width: clamp(400px, 100%, 800px);
}

.search_box {
  width: 100%;
}

.search_text {
  margin-left: 8px;
}
